#eclipse
*.project

#Libraries/Dependancies are listed in the README.md
*.classpath

#Just testing things~
Tester.java

#Compile things on your own time
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
